.DS_Store
.env
.node*
.vscode
/abi
/artifacts
/cache
/contracts.json
/coverage*
/deployments/*/solcInputs/*.json
/deployments/localhost
/dist
/docs
/export/artifacts
/forge-cache
/node_modules
/out
/src/types
