name: Check commit messages

on: [push]

jobs:
  check-commit-messages:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure cocogitto
        run: echo 'tag_prefix = "v"' > cog.toml

      - name: Run cocogitto
        uses: cocogitto/cocogitto-action@v3
        with:
          check-latest-tag-only: true
