name: Check code format

on:
  pull_request:
  push:
    branches:
      - main
      - release/*
      - next/*

jobs:
  check-code-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ./.github/actions/setup

      - name: Check code format
        run: pnpm fmt:check
