name: Check code format

on:
  pull_request:
  push:
    branches:
      - main
      - release/*
      - next/*

jobs:
  check-code-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ./.github/actions/setup

      - name: Check code format
        run: pnpm fmt:check
