name: Release

on:
  push:
    branches:
      - main
      - release/*
      - next/*

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
  id-token: write

jobs:
  version_or_publish:
    name: Version packages or publish them to npmjs.com
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: ${{ secrets.BOT_TOKEN }}

      - name: Register Git user
        run: |
          git config user.name rollups-contracts-bot
          git config user.email 153998668+rollups-contracts-bot@users.noreply.github.com

      - uses: ./.github/actions/setup

      - name: Create release PR or publish packages to npmjs.com
        uses: changesets/action@c48e67d110a68bc90ccf1098e9646092baacaa87
        with:
          setupGitUser: false
          commit: "Version packages"
          publish: pnpm ci:publish
          version: pnpm ci:version
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
