name: Test

on:
  pull_request:
  push:
    branches:
      - main
      - release/*
      - next/*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ./.github/actions/setup

      - name: Run tests
        run: forge test -vvv

      - name: Upload signatures
        run: forge selectors upload --all
