name: Upload artifacts

on:
  push:
    tags:
      - v*

jobs:
  upload:
    name: Upload contract artifacts to GitHub Releases
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: ./.github/actions/setup
        id: setup

      - name: Create upload folder
        run: mkdir -p upload

      - name: Extract version from tag
        id: extract_version
        run: echo "version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Clean artifacts
        run: pnpm clean

      - name: Build contracts
        run: pnpm build:contracts

      - name: Compress contract artifacts
        run: tar -czf "$FILEPATH" -C out .
        env:
          FILEPATH: upload/rollups-contracts-${{ steps.extract_version.outputs.version }}-artifacts.tar.gz

      - name: Build devnet
        run: ./script/build-devnet.sh

      - name: Compress devnet artifacts
        run: tar -czf "$FILEPATH" deployments/31337 state.json
        env:
          FILEPATH: upload/rollups-contracts-${{ steps.extract_version.outputs.version }}-anvil-${{ steps.setup.outputs.foundry-version }}.tar.gz

      - name: Upload files to GitHub Releases
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          files: upload/*
