name: Upload contracts

on:
  push:
    tags:
      - v*

jobs:
  push:
    name: Publish contracts to Soldeer.xyz
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: ./.github/actions/setup
        id: setup

      - name: Extract version from tag
        id: extract_version
        run: echo "version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Push package to Soldeer.xyz
        run: forge soldeer push "cartesi-rollups-contracts~$VERSION"
        env:
          SOLDEER_API_TOKEN: ${{ secrets.SOLDEER_API_TOKEN }}
          VERSION: ${{ steps.extract_version.outputs.version }}
