name: Upload Rust bindings

on:
  push:
    tags:
      - v*

jobs:
  publish:
    name: Publish Rust bindings to crates.io
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: ./.github/actions/setup
        id: setup

      - name: Extract version from tag
        id: extract_version
        run: echo "version=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Generate Rust bindings
        run: |
          forge bind \
            --crate-name cartesi-rollups-contracts \
            --crate-version "$VERSION" \
            --crate-license "Apache-2.0" \
            --crate-description "Rust bindings for Cartesi Rollups smart contracts" \
            --alloy-version "1.0"
        env:
          VERSION: ${{ steps.extract_version.outputs.version }}

      - name: Upload package to crates.io
        working-directory: out/bindings
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
